<div id='logo'>Snorlax</div>

<h1>Register</h1>

<form method="POST">
	Username<br>
  <input name="username"><br>
	Password<br><input type="password" name="password"><br>
	<input type="submit" value="Register">
</form>