<h1>All shows</h1>

<a href="/user_show">Followed shows</a>

<ul>
  <% for (show in shows) { %>
    <% var link = "/show/"+ shows[show].id %>

    <li><a href=<%= link %> ><%= shows[show].name %></a></li>

  <% } %>
</ul>
